@import 'consts';

div.ankibridge-card {
    overflow         : hidden;
    page-break-inside: avoid;

    background-color: var(--background-secondary);
    border-radius   : $border-radius;
    box-shadow      : 0 0.2rem 0.5rem var(--background-modifier-box-shadow);
    position        : relative;

    margin: 15px 0;

    &:active {
        div.ankibridge-card-container {
            div.ankibridge-card-config {
                transform: translateX(0%);
                opacity  : 1;
            }
        }
    }

    &:hover {
        div.ankibridge-card-container {
            div.ankibridge-card-fields {
                cursor: pointer;
                transform: rotateX(180deg);
            }
        }
    }

    &.error {
        background-color: var(--background-modifier-error);
    }
    
    div.ankibridge-card-container {
        padding: 25px 25px;
        // Config
        div.ankibridge-card-config {
            padding: 0.4rem 1rem;
            z-index: 999999;

            top     : calc(0% + 1.5rem);
            right   : calc(0% + 1.5rem);
            position: absolute;

            background-color: var(--interactive-accent);
            border-radius   : $border-radius;

            transition: transform 0.2s ease-out, opacity 0.2s ease-in;
            transform : translateX(100%);
            opacity   : 0;

            &::before {
                content    : "Card configuration";
                font-weight: bold;
                font-size  : 18px;

            }

            span.ankibridge-card-config-entry {
                display    : block;
                font-weight: normal;
                font-size  : 15px;

                font-family : var(--font-monospace);
                margin-top  : 0.1rem;
                margin-right: 0px;

                &::before {
                    font-family  : var(--default-font);
                    font-weight  : bold;
                    padding-right: 0.3rem;

                }

                &:first-child {
                    margin-top: 0.5rem;
                }

                // Non-boolean properties
                &[data-type="id"] {
                    &::before {
                        content: "ID:";
                    }
                }

                &[data-type="deck"] {
                    &::before {
                        content: "Deck:";
                    }
                }

                &[data-type="tags"] {
                    &::before {
                        content: "Tags:";
                    }
                }

                // Boolean properties
                &[data-type="cloze"],
                &[data-type="enabled"],
                &[data-type="delete"] {
                    font-size : 0;
                    visibility: hidden;

                    &::before,
                    &::after {
                        font-size : 15px;
                        visibility: visible;
                    }

                    &[data-value="false"]::after {
                        content: "❌";
                    }

                    &[data-value="true"]::after {
                        content: "✔";
                    }
                }

                &[data-type="cloze"]::before {
                    content: "Cloze";
                }

                &[data-type="enabled"]::before {
                    content: "Enabled:";
                }


                &[data-type="delete"]::before {
                    content: "Delete:";
                }
            }
        }
        div.ankibridge-card-fields {
            display: grid;
            align-items: center;
            transition-duration: 0.45s;
            transition-timing-function: ease-in-out;
            transform-style: preserve-3d;
            // Front
            div.ankibridge-card-front, 
            div.ankibridge-card-back {
                grid-row: 1/2;
                grid-column: 1/2;
                backface-visibility: hidden;
                text-align: center;
                & > * {
                    text-align: inherit;
                    vertical-align: inherit;
                    background-color: inherit;
                    color: inherit;
                }
            }

            div.ankibridge-card-front {
                
            }

            // Separator
            div.ankibridge-card-separator {
                //display: none;
                //position: absolute;
                //height       : 0.25rem;
                //border-radius: 0.15rem;
                //margin       : 1rem 0;

                //background-color: var(--background-modifier-border);
            }

            // Back
            div.ankibridge-card-back {
                transform: rotateX(180deg);
            }
        }
    }
}

// Reading only
div.markdown-reading-view {
    div.ankibridge-card-parent {
        padding: 4px;
    }
}

// Live-preview only
div.is-live-preview {
    // These are fixes for live-preview, which currently renders as reader-style HTML,
    // But without the styling of the reader.
    // TODO: This should be fixed in the future by Obsidian core.
    mark {
        background-color: var(--text-highlight-bg);
        color: var(--text-normal);
    }

    div.cm-preview-code-block.cm-embed-block.ankibridge-card-parent {
        border: 0;
        div.ankibridge-card {
            div.ankibridge-card-fields {
                // Front and back
                .ankibridge-card-content {
                    ul {
                        white-space: normal;
                    }

                    &>* {
                        // Live Preview-fixed
                        // Inspired by https://github.com/valentine195/obsidian-admonition/blob/master/src/assets/main.css
                        // Hopefully not needed after Obsidian supports rendering to LP-mode format
                        margin-top   : 0px;
                        margin-bottom: 0px;
                        line-height: 1.5;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
