/* Settings */

.ankibridge-search {
    width: calc(100% - 20px);
    margin: 0 14px 0 14px;
}

.ankibridge-settings-support {
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 3rem;

    img {
        margin: auto;
        display: block;
    }
}
