# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# Python
.venv

# build
main.js
*.js.map
data.json

# scripts
move.sh

# Visual Studio Code
.vscode
*.code-workspace

# Local History for Visual Studio Code
.history/
