# Intellij
*.iml
.idea

# npm
node_modules

# We use yarn
package-lock.json

# Yarn
yarn-error.log

# build
main.js
*.js.map
data.json
rendered_test_file.json
styles.css

# Visual Studio Code
.vscode
*.code-workspace

# Local History for Visual Studio Code
.history/
