/* Hide Anki tags */
.markdown-preview-view a.tag[href^="#anki"] {
    display: none;
}

/* Hide Anki configurations */
.markdown-preview-view div>pre.language-anki {
    display: none;
}

/* Settings */

.ankibridge-search {
    width: calc(100% - 20px);
    margin: 0 14px 0 14px;
}
